
[class^="#{$entypo-css-prefix}-"],
[class*=" #{$entypo-css-prefix}-"] {
  @include entypo-icon-base;
}

.the-#{$entypo-css-prefix}-icons li {
  font-size: $entypo-font-size-base;
  line-height: $entypo-font-size-base * 2;
  height: $entypo-font-size-base * 2;
}


.#{$entypo-css-prefix}-note-beamed:before { content: '#{$entypo-var-note-beamed}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-music:before { content: '#{$entypo-var-music}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-search:before { content: '#{$entypo-var-search}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flashlight:before { content: '#{$entypo-var-flashlight}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-mail:before { content: '#{$entypo-var-mail}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-heart:before { content: '#{$entypo-var-heart}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-heart-empty:before { content: '#{$entypo-var-heart-empty}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-star:before { content: '#{$entypo-var-star}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-star-empty:before { content: '#{$entypo-var-star-empty}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-user:before { content: '#{$entypo-var-user}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-users:before { content: '#{$entypo-var-users}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-user-add:before { content: '#{$entypo-var-user-add}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-video:before { content: '#{$entypo-var-video}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-picture:before { content: '#{$entypo-var-picture}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-camera:before { content: '#{$entypo-var-camera}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-layout:before { content: '#{$entypo-var-layout}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-menu:before { content: '#{$entypo-var-menu}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-check:before { content: '#{$entypo-var-check}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cancel:before { content: '#{$entypo-var-cancel}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cancel-circled:before { content: '#{$entypo-var-cancel-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cancel-squared:before { content: '#{$entypo-var-cancel-squared}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-plus:before { content: '#{$entypo-var-plus}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-plus-circled:before { content: '#{$entypo-var-plus-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-plus-squared:before { content: '#{$entypo-var-plus-squared}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-minus:before { content: '#{$entypo-var-minus}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-minus-circled:before { content: '#{$entypo-var-minus-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-minus-squared:before { content: '#{$entypo-var-minus-squared}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-help:before { content: '#{$entypo-var-help}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-help-circled:before { content: '#{$entypo-var-help-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-info:before { content: '#{$entypo-var-info}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-info-circled:before { content: '#{$entypo-var-info-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-back:before { content: '#{$entypo-var-back}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-home:before { content: '#{$entypo-var-home}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-link:before { content: '#{$entypo-var-link}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-attach:before { content: '#{$entypo-var-attach}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-lock:before { content: '#{$entypo-var-lock}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-lock-open:before { content: '#{$entypo-var-lock-open}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-eye:before { content: '#{$entypo-var-eye}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-tag:before { content: '#{$entypo-var-tag}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-bookmark:before { content: '#{$entypo-var-bookmark}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-bookmarks:before { content: '#{$entypo-var-bookmarks}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flag:before { content: '#{$entypo-var-flag}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-thumbs-up:before { content: '#{$entypo-var-thumbs-up}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-thumbs-down:before { content: '#{$entypo-var-thumbs-down}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-download:before { content: '#{$entypo-var-download}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-upload:before { content: '#{$entypo-var-upload}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-upload-cloud:before { content: '#{$entypo-var-upload-cloud}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-reply:before { content: '#{$entypo-var-reply}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-reply-all:before { content: '#{$entypo-var-reply-all}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-forward:before { content: '#{$entypo-var-forward}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-quote:before { content: '#{$entypo-var-quote}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-code:before { content: '#{$entypo-var-code}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-export:before { content: '#{$entypo-var-export}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-pencil:before { content: '#{$entypo-var-pencil}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-feather:before { content: '#{$entypo-var-feather}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-print:before { content: '#{$entypo-var-print}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-retweet:before { content: '#{$entypo-var-retweet}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-keyboard:before { content: '#{$entypo-var-keyboard}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-comment:before { content: '#{$entypo-var-comment}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-chat:before { content: '#{$entypo-var-chat}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-bell:before { content: '#{$entypo-var-bell}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-attention:before { content: '#{$entypo-var-attention}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-alert:before { content: '#{$entypo-var-alert}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-vcard:before { content: '#{$entypo-var-vcard}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-address:before { content: '#{$entypo-var-address}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-location:before { content: '#{$entypo-var-location}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-map:before { content: '#{$entypo-var-map}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-direction:before { content: '#{$entypo-var-direction}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-compass:before { content: '#{$entypo-var-compass}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cup:before { content: '#{$entypo-var-cup}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-trash:before { content: '#{$entypo-var-trash}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-doc:before { content: '#{$entypo-var-doc}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-docs:before { content: '#{$entypo-var-docs}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-doc-landscape:before { content: '#{$entypo-var-doc-landscape}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-doc-text:before { content: '#{$entypo-var-doc-text}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-doc-text-inv:before { content: '#{$entypo-var-doc-text-inv}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-newspaper:before { content: '#{$entypo-var-newspaper}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-book-open:before { content: '#{$entypo-var-book-open}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-book:before { content: '#{$entypo-var-book}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-folder:before { content: '#{$entypo-var-folder}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-archive:before { content: '#{$entypo-var-archive}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-box:before { content: '#{$entypo-var-box}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-rss:before { content: '#{$entypo-var-rss}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-phone:before { content: '#{$entypo-var-phone}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cog:before { content: '#{$entypo-var-cog}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-tools:before { content: '#{$entypo-var-tools}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-share:before { content: '#{$entypo-var-share}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-shareable:before { content: '#{$entypo-var-shareable}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-basket:before { content: '#{$entypo-var-basket}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-bag:before { content: '#{$entypo-var-bag}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-calendar:before { content: '#{$entypo-var-calendar}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-login:before { content: '#{$entypo-var-login}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-logout:before { content: '#{$entypo-var-logout}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-mic:before { content: '#{$entypo-var-mic}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-mute:before { content: '#{$entypo-var-mute}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-sound:before { content: '#{$entypo-var-sound}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-volume:before { content: '#{$entypo-var-volume}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-clock:before { content: '#{$entypo-var-clock}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-hourglass:before { content: '#{$entypo-var-hourglass}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-lamp:before { content: '#{$entypo-var-lamp}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-light-down:before { content: '#{$entypo-var-light-down}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-light-up:before { content: '#{$entypo-var-light-up}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-adjust:before { content: '#{$entypo-var-adjust}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-block:before { content: '#{$entypo-var-block}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-resize-full:before { content: '#{$entypo-var-resize-full}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-resize-small:before { content: '#{$entypo-var-resize-small}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-popup:before { content: '#{$entypo-var-popup}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-publish:before { content: '#{$entypo-var-publish}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-window:before { content: '#{$entypo-var-window}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-arrow-combo:before { content: '#{$entypo-var-arrow-combo}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down-circled:before { content: '#{$entypo-var-down-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left-circled:before { content: '#{$entypo-var-left-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right-circled:before { content: '#{$entypo-var-right-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up-circled:before { content: '#{$entypo-var-up-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down-open:before { content: '#{$entypo-var-down-open}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left-open:before { content: '#{$entypo-var-left-open}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right-open:before { content: '#{$entypo-var-right-open}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up-open:before { content: '#{$entypo-var-up-open}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down-open-mini:before { content: '#{$entypo-var-down-open-mini}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left-open-mini:before { content: '#{$entypo-var-left-open-mini}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right-open-mini:before { content: '#{$entypo-var-right-open-mini}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up-open-mini:before { content: '#{$entypo-var-up-open-mini}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down-open-big:before { content: '#{$entypo-var-down-open-big}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left-open-big:before { content: '#{$entypo-var-left-open-big}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right-open-big:before { content: '#{$entypo-var-right-open-big}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up-open-big:before { content: '#{$entypo-var-up-open-big}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down:before { content: '#{$entypo-var-down}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left:before { content: '#{$entypo-var-left}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right:before { content: '#{$entypo-var-right}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up:before { content: '#{$entypo-var-up}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down-dir:before { content: '#{$entypo-var-down-dir}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left-dir:before { content: '#{$entypo-var-left-dir}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right-dir:before { content: '#{$entypo-var-right-dir}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up-dir:before { content: '#{$entypo-var-up-dir}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down-bold:before { content: '#{$entypo-var-down-bold}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left-bold:before { content: '#{$entypo-var-left-bold}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right-bold:before { content: '#{$entypo-var-right-bold}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up-bold:before { content: '#{$entypo-var-up-bold}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-down-thin:before { content: '#{$entypo-var-down-thin}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-left-thin:before { content: '#{$entypo-var-left-thin}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-right-thin:before { content: '#{$entypo-var-right-thin}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-up-thin:before { content: '#{$entypo-var-up-thin}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-ccw:before { content: '#{$entypo-var-ccw}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cw:before { content: '#{$entypo-var-cw}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-arrows-ccw:before { content: '#{$entypo-var-arrows-ccw}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-level-down:before { content: '#{$entypo-var-level-down}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-level-up:before { content: '#{$entypo-var-level-up}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-shuffle:before { content: '#{$entypo-var-shuffle}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-loop:before { content: '#{$entypo-var-loop}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-switch:before { content: '#{$entypo-var-switch}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-play:before { content: '#{$entypo-var-play}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-stop:before { content: '#{$entypo-var-stop}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-pause:before { content: '#{$entypo-var-pause}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-record:before { content: '#{$entypo-var-record}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-to-end:before { content: '#{$entypo-var-to-end}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-to-start:before { content: '#{$entypo-var-to-start}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-fast-forward:before { content: '#{$entypo-var-fast-forward}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-fast-backward:before { content: '#{$entypo-var-fast-backward}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-progress-0:before { content: '#{$entypo-var-progress-0}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-progress-1:before { content: '#{$entypo-var-progress-1}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-progress-2:before { content: '#{$entypo-var-progress-2}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-progress-3:before { content: '#{$entypo-var-progress-3}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-target:before { content: '#{$entypo-var-target}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-palette:before { content: '#{$entypo-var-palette}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-list:before { content: '#{$entypo-var-list}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-list-add:before { content: '#{$entypo-var-list-add}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-signal:before { content: '#{$entypo-var-signal}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-trophy:before { content: '#{$entypo-var-trophy}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-battery:before { content: '#{$entypo-var-battery}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-back-in-time:before { content: '#{$entypo-var-back-in-time}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-monitor:before { content: '#{$entypo-var-monitor}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-mobile:before { content: '#{$entypo-var-mobile}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-network:before { content: '#{$entypo-var-network}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cd:before { content: '#{$entypo-var-cd}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-inbox:before { content: '#{$entypo-var-inbox}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-install:before { content: '#{$entypo-var-install}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-globe:before { content: '#{$entypo-var-globe}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cloud:before { content: '#{$entypo-var-cloud}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cloud-thunder:before { content: '#{$entypo-var-cloud-thunder}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flash:before { content: '#{$entypo-var-flash}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-moon:before { content: '#{$entypo-var-moon}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flight:before { content: '#{$entypo-var-flight}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-paper-plane:before { content: '#{$entypo-var-paper-plane}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-leaf:before { content: '#{$entypo-var-leaf}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-lifebuoy:before { content: '#{$entypo-var-lifebuoy}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-mouse:before { content: '#{$entypo-var-mouse}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-briefcase:before { content: '#{$entypo-var-briefcase}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-suitcase:before { content: '#{$entypo-var-suitcase}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-dot:before { content: '#{$entypo-var-dot}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-dot-2:before { content: '#{$entypo-var-dot-2}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-dot-3:before { content: '#{$entypo-var-dot-3}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-brush:before { content: '#{$entypo-var-brush}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-magnet:before { content: '#{$entypo-var-magnet}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-infinity:before { content: '#{$entypo-var-infinity}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-erase:before { content: '#{$entypo-var-erase}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-chart-pie:before { content: '#{$entypo-var-chart-pie}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-chart-line:before { content: '#{$entypo-var-chart-line}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-chart-bar:before { content: '#{$entypo-var-chart-bar}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-chart-area:before { content: '#{$entypo-var-chart-area}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-tape:before { content: '#{$entypo-var-tape}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-graduation-cap:before { content: '#{$entypo-var-graduation-cap}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-language:before { content: '#{$entypo-var-language}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-ticket:before { content: '#{$entypo-var-ticket}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-water:before { content: '#{$entypo-var-water}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-droplet:before { content: '#{$entypo-var-droplet}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-air:before { content: '#{$entypo-var-air}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-credit-card:before { content: '#{$entypo-var-credit-card}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-floppy:before { content: '#{$entypo-var-floppy}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-clipboard:before { content: '#{$entypo-var-clipboard}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-megaphone:before { content: '#{$entypo-var-megaphone}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-database:before { content: '#{$entypo-var-database}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-drive:before { content: '#{$entypo-var-drive}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-bucket:before { content: '#{$entypo-var-bucket}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-thermometer:before { content: '#{$entypo-var-thermometer}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-key:before { content: '#{$entypo-var-key}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flow-cascade:before { content: '#{$entypo-var-flow-cascade}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flow-branch:before { content: '#{$entypo-var-flow-branch}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flow-tree:before { content: '#{$entypo-var-flow-tree}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flow-line:before { content: '#{$entypo-var-flow-line}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flow-parallel:before { content: '#{$entypo-var-flow-parallel}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-rocket:before { content: '#{$entypo-var-rocket}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-gauge:before { content: '#{$entypo-var-gauge}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-traffic-cone:before { content: '#{$entypo-var-traffic-cone}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc:before { content: '#{$entypo-var-cc}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-by:before { content: '#{$entypo-var-cc-by}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-nc:before { content: '#{$entypo-var-cc-nc}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-nc-eu:before { content: '#{$entypo-var-cc-nc-eu}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-nc-jp:before { content: '#{$entypo-var-cc-nc-jp}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-sa:before { content: '#{$entypo-var-cc-sa}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-nd:before { content: '#{$entypo-var-cc-nd}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-pd:before { content: '#{$entypo-var-cc-pd}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-zero:before { content: '#{$entypo-var-cc-zero}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-share:before { content: '#{$entypo-var-cc-share}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-cc-remix:before { content: '#{$entypo-var-cc-remix}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-github:before { content: '#{$entypo-var-github}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-github-circled:before { content: '#{$entypo-var-github-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flickr:before { content: '#{$entypo-var-flickr}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flickr-circled:before { content: '#{$entypo-var-flickr-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-vimeo:before { content: '#{$entypo-var-vimeo}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-vimeo-circled:before { content: '#{$entypo-var-vimeo-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-twitter:before { content: '#{$entypo-var-twitter}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-twitter-circled:before { content: '#{$entypo-var-twitter-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-facebook:before { content: '#{$entypo-var-facebook}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-facebook-circled:before { content: '#{$entypo-var-facebook-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-facebook-squared:before { content: '#{$entypo-var-facebook-squared}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-gplus:before { content: '#{$entypo-var-gplus}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-gplus-circled:before { content: '#{$entypo-var-gplus-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-pinterest:before { content: '#{$entypo-var-pinterest}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-pinterest-circled:before { content: '#{$entypo-var-pinterest-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-tumblr:before { content: '#{$entypo-var-tumblr}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-tumblr-circled:before { content: '#{$entypo-var-tumblr-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-linkedin:before { content: '#{$entypo-var-linkedin}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-linkedin-circled:before { content: '#{$entypo-var-linkedin-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-dribbble:before { content: '#{$entypo-var-dribbble}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-dribbble-circled:before { content: '#{$entypo-var-dribbble-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-stumbleupon:before { content: '#{$entypo-var-stumbleupon}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-stumbleupon-circled:before { content: '#{$entypo-var-stumbleupon-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-lastfm:before { content: '#{$entypo-var-lastfm}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-lastfm-circled:before { content: '#{$entypo-var-lastfm-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-rdio:before { content: '#{$entypo-var-rdio}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-rdio-circled:before { content: '#{$entypo-var-rdio-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-spotify:before { content: '#{$entypo-var-spotify}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-spotify-circled:before { content: '#{$entypo-var-spotify-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-qq:before { content: '#{$entypo-var-qq}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-instagrem:before { content: '#{$entypo-var-instagrem}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-dropbox:before { content: '#{$entypo-var-dropbox}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-evernote:before { content: '#{$entypo-var-evernote}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-flattr:before { content: '#{$entypo-var-flattr}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-skype:before { content: '#{$entypo-var-skype}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-skype-circled:before { content: '#{$entypo-var-skype-circled}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-renren:before { content: '#{$entypo-var-renren}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-sina-weibo:before { content: '#{$entypo-var-sina-weibo}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-paypal:before { content: '#{$entypo-var-paypal}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-picasa:before { content: '#{$entypo-var-picasa}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-soundcloud:before { content: '#{$entypo-var-soundcloud}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-mixi:before { content: '#{$entypo-var-mixi}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-behance:before { content: '#{$entypo-var-behance}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-google-circles:before { content: '#{$entypo-var-google-circles}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-vkontakte:before { content: '#{$entypo-var-vkontakte}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-smashing:before { content: '#{$entypo-var-smashing}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-sweden:before { content: '#{$entypo-var-sweden}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-db-shape:before { content: '#{$entypo-var-db-shape}'; margin-right: $entypo-before-margin; }
.#{$entypo-css-prefix}-logo-db:before { content: '#{$entypo-var-logo-db}'; margin-right: $entypo-before-margin; }

