$entypo-font-family: 'entypo' !default;
$entypo-font-path: './entypo' !default;
$entypo-font-size-base: 14px !default;
$entypo-css-prefix: 'entypo' !default;
$entypo-icon-width: 1.1em !default;
$entypo-before-margin: .1em !default;
$entypo-after-margin: $entypo-before-margin !default;

$entypo-var-note: '\266a';
$entypo-var-note-beamed: '\266b';
$entypo-var-music: '\1f3b5';
$entypo-var-search: '\1f50d';
$entypo-var-flashlight: '\1f526';
$entypo-var-mail: '\2709';
$entypo-var-heart: '\2665';
$entypo-var-heart-empty: '\2661';
$entypo-var-star: '\2605';
$entypo-var-star-empty: '\2606';
$entypo-var-user: '\1f464';
$entypo-var-users: '\1f465';
$entypo-var-user-add: '\e700';
$entypo-var-video: '\1f3ac';
$entypo-var-picture: '\1f304';
$entypo-var-camera: '\1f4f7';
$entypo-var-layout: '\268f';
$entypo-var-menu: '\2630';
$entypo-var-check: '\2713';
$entypo-var-cancel: '\2715';
$entypo-var-cancel-circled: '\2716';
$entypo-var-cancel-squared: '\274e';
$entypo-var-plus: '\2b';
$entypo-var-plus-circled: '\2795';
$entypo-var-plus-squared: '\229e';
$entypo-var-minus: '\2d';
$entypo-var-minus-circled: '\2796';
$entypo-var-minus-squared: '\229f';
$entypo-var-help: '\2753';
$entypo-var-help-circled: '\e704';
$entypo-var-info: '\2139';
$entypo-var-info-circled: '\e705';
$entypo-var-back: '\1f519';
$entypo-var-home: '\2302';
$entypo-var-link: '\1f517';
$entypo-var-attach: '\1f4ce';
$entypo-var-lock: '\1f512';
$entypo-var-lock-open: '\1f513';
$entypo-var-eye: '\e70a';
$entypo-var-tag: '\e70c';
$entypo-var-bookmark: '\1f516';
$entypo-var-bookmarks: '\1f4d1';
$entypo-var-flag: '\2691';
$entypo-var-thumbs-up: '\1f44d';
$entypo-var-thumbs-down: '\1f44e';
$entypo-var-download: '\1f4e5';
$entypo-var-upload: '\1f4e4';
$entypo-var-upload-cloud: '\e711';
$entypo-var-reply: '\e712';
$entypo-var-reply-all: '\e713';
$entypo-var-forward: '\27a6';
$entypo-var-quote: '\275e';
$entypo-var-code: '\e714';
$entypo-var-export: '\e715';
$entypo-var-pencil: '\270e';
$entypo-var-feather: '\2712';
$entypo-var-print: '\e716';
$entypo-var-retweet: '\e717';
$entypo-var-keyboard: '\2328';
$entypo-var-comment: '\e718';
$entypo-var-chat: '\e720';
$entypo-var-bell: '\1f514';
$entypo-var-attention: '\26a0';
$entypo-var-alert: '\1f4a5';
$entypo-var-vcard: '\e722';
$entypo-var-address: '\e723';
$entypo-var-location: '\e724';
$entypo-var-map: '\e727';
$entypo-var-direction: '\27a2';
$entypo-var-compass: '\e728';
$entypo-var-cup: '\2615';
$entypo-var-trash: '\e729';
$entypo-var-doc: '\e730';
$entypo-var-docs: '\e736';
$entypo-var-doc-landscape: '\e737';
$entypo-var-doc-text: '\1f4c4';
$entypo-var-doc-text-inv: '\e731';
$entypo-var-newspaper: '\1f4f0';
$entypo-var-book-open: '\1f4d6';
$entypo-var-book: '\1f4d5';
$entypo-var-folder: '\1f4c1';
$entypo-var-archive: '\e738';
$entypo-var-box: '\1f4e6';
$entypo-var-rss: '\e73a';
$entypo-var-phone: '\1f4de';
$entypo-var-cog: '\2699';
$entypo-var-tools: '\2692';
$entypo-var-share: '\e73c';
$entypo-var-shareable: '\e73e';
$entypo-var-basket: '\e73d';
$entypo-var-bag: '\1f45c';
$entypo-var-calendar: '\1f4c5';
$entypo-var-login: '\e740';
$entypo-var-logout: '\e741';
$entypo-var-mic: '\1f3a4';
$entypo-var-mute: '\1f507';
$entypo-var-sound: '\1f50a';
$entypo-var-volume: '\e742';
$entypo-var-clock: '\1f554';
$entypo-var-hourglass: '\23f3';
$entypo-var-lamp: '\1f4a1';
$entypo-var-light-down: '\1f505';
$entypo-var-light-up: '\1f506';
$entypo-var-adjust: '\25d1';
$entypo-var-block: '\1f6ab';
$entypo-var-resize-full: '\e744';
$entypo-var-resize-small: '\e746';
$entypo-var-popup: '\e74c';
$entypo-var-publish: '\e74d';
$entypo-var-window: '\e74e';
$entypo-var-arrow-combo: '\e74f';
$entypo-var-down-circled: '\e758';
$entypo-var-left-circled: '\e759';
$entypo-var-right-circled: '\e75a';
$entypo-var-up-circled: '\e75b';
$entypo-var-down-open: '\e75c';
$entypo-var-left-open: '\e75d';
$entypo-var-right-open: '\e75e';
$entypo-var-up-open: '\e75f';
$entypo-var-down-open-mini: '\e760';
$entypo-var-left-open-mini: '\e761';
$entypo-var-right-open-mini: '\e762';
$entypo-var-up-open-mini: '\e763';
$entypo-var-down-open-big: '\e764';
$entypo-var-left-open-big: '\e765';
$entypo-var-right-open-big: '\e766';
$entypo-var-up-open-big: '\e767';
$entypo-var-down: '\2b07';
$entypo-var-left: '\2b05';
$entypo-var-right: '\27a1';
$entypo-var-up: '\2b06';
$entypo-var-down-dir: '\25be';
$entypo-var-left-dir: '\25c2';
$entypo-var-right-dir: '\25b8';
$entypo-var-up-dir: '\25b4';
$entypo-var-down-bold: '\e4b0';
$entypo-var-left-bold: '\e4ad';
$entypo-var-right-bold: '\e4ae';
$entypo-var-up-bold: '\e4af';
$entypo-var-down-thin: '\2193';
$entypo-var-left-thin: '\2190';
$entypo-var-right-thin: '\2192';
$entypo-var-up-thin: '\2191';
$entypo-var-ccw: '\27f2';
$entypo-var-cw: '\27f3';
$entypo-var-arrows-ccw: '\1f504';
$entypo-var-level-down: '\21b3';
$entypo-var-level-up: '\21b0';
$entypo-var-shuffle: '\1f500';
$entypo-var-loop: '\1f501';
$entypo-var-switch: '\21c6';
$entypo-var-play: '\25b6';
$entypo-var-stop: '\25a0';
$entypo-var-pause: '\2389';
$entypo-var-record: '\26ab';
$entypo-var-to-end: '\23ed';
$entypo-var-to-start: '\23ee';
$entypo-var-fast-forward: '\23e9';
$entypo-var-fast-backward: '\23ea';
$entypo-var-progress-0: '\e768';
$entypo-var-progress-1: '\e769';
$entypo-var-progress-2: '\e76a';
$entypo-var-progress-3: '\e76b';
$entypo-var-target: '\1f3af';
$entypo-var-palette: '\1f3a8';
$entypo-var-list: '\e005';
$entypo-var-list-add: '\e003';
$entypo-var-signal: '\1f4f6';
$entypo-var-trophy: '\1f3c6';
$entypo-var-battery: '\1f50b';
$entypo-var-back-in-time: '\e771';
$entypo-var-monitor: '\1f4bb';
$entypo-var-mobile: '\1f4f1';
$entypo-var-network: '\e776';
$entypo-var-cd: '\1f4bf';
$entypo-var-inbox: '\e777';
$entypo-var-install: '\e778';
$entypo-var-globe: '\1f30e';
$entypo-var-cloud: '\2601';
$entypo-var-cloud-thunder: '\26c8';
$entypo-var-flash: '\26a1';
$entypo-var-moon: '\263d';
$entypo-var-flight: '\2708';
$entypo-var-paper-plane: '\e79b';
$entypo-var-leaf: '\1f342';
$entypo-var-lifebuoy: '\e788';
$entypo-var-mouse: '\e789';
$entypo-var-briefcase: '\1f4bc';
$entypo-var-suitcase: '\e78e';
$entypo-var-dot: '\e78b';
$entypo-var-dot-2: '\e78c';
$entypo-var-dot-3: '\e78d';
$entypo-var-brush: '\e79a';
$entypo-var-magnet: '\e7a1';
$entypo-var-infinity: '\221e';
$entypo-var-erase: '\232b';
$entypo-var-chart-pie: '\e751';
$entypo-var-chart-line: '\1f4c8';
$entypo-var-chart-bar: '\1f4ca';
$entypo-var-chart-area: '\1f53e';
$entypo-var-tape: '\2707';
$entypo-var-graduation-cap: '\1f393';
$entypo-var-language: '\e752';
$entypo-var-ticket: '\1f3ab';
$entypo-var-water: '\1f4a6';
$entypo-var-droplet: '\1f4a7';
$entypo-var-air: '\e753';
$entypo-var-credit-card: '\1f4b3';
$entypo-var-floppy: '\1f4be';
$entypo-var-clipboard: '\1f4cb';
$entypo-var-megaphone: '\1f4e3';
$entypo-var-database: '\e754';
$entypo-var-drive: '\e755';
$entypo-var-bucket: '\e756';
$entypo-var-thermometer: '\e757';
$entypo-var-key: '\1f511';
$entypo-var-flow-cascade: '\e790';
$entypo-var-flow-branch: '\e791';
$entypo-var-flow-tree: '\e792';
$entypo-var-flow-line: '\e793';
$entypo-var-flow-parallel: '\e794';
$entypo-var-rocket: '\1f680';
$entypo-var-gauge: '\e7a2';
$entypo-var-traffic-cone: '\e7a3';
$entypo-var-cc: '\e7a5';
$entypo-var-cc-by: '\e7a6';
$entypo-var-cc-nc: '\e7a7';
$entypo-var-cc-nc-eu: '\e7a8';
$entypo-var-cc-nc-jp: '\e7a9';
$entypo-var-cc-sa: '\e7aa';
$entypo-var-cc-nd: '\e7ab';
$entypo-var-cc-pd: '\e7ac';
$entypo-var-cc-zero: '\e7ad';
$entypo-var-cc-share: '\e7ae';
$entypo-var-cc-remix: '\e7af';
$entypo-var-github: '\f300';
$entypo-var-github-circled: '\f301';
$entypo-var-flickr: '\f303';
$entypo-var-flickr-circled: '\f304';
$entypo-var-vimeo: '\f306';
$entypo-var-vimeo-circled: '\f307';
$entypo-var-twitter: '\f309';
$entypo-var-twitter-circled: '\f30a';
$entypo-var-facebook: '\f30c';
$entypo-var-facebook-circled: '\f30d';
$entypo-var-facebook-squared: '\f30e';
$entypo-var-gplus: '\f30f';
$entypo-var-gplus-circled: '\f310';
$entypo-var-pinterest: '\f312';
$entypo-var-pinterest-circled: '\f313';
$entypo-var-tumblr: '\f315';
$entypo-var-tumblr-circled: '\f316';
$entypo-var-linkedin: '\f318';
$entypo-var-linkedin-circled: '\f319';
$entypo-var-dribbble: '\f31b';
$entypo-var-dribbble-circled: '\f31c';
$entypo-var-stumbleupon: '\f31e';
$entypo-var-stumbleupon-circled: '\f31f';
$entypo-var-lastfm: '\f321';
$entypo-var-lastfm-circled: '\f322';
$entypo-var-rdio: '\f324';
$entypo-var-rdio-circled: '\f325';
$entypo-var-spotify: '\f327';
$entypo-var-spotify-circled: '\f328';
$entypo-var-qq: '\f32a';
$entypo-var-instagrem: '\f32d';
$entypo-var-dropbox: '\f330';
$entypo-var-evernote: '\f333';
$entypo-var-flattr: '\f336';
$entypo-var-skype: '\f339';
$entypo-var-skype-circled: '\f33a';
$entypo-var-renren: '\f33c';
$entypo-var-sina-weibo: '\f33f';
$entypo-var-paypal: '\f342';
$entypo-var-picasa: '\f345';
$entypo-var-soundcloud: '\f348';
$entypo-var-mixi: '\f34b';
$entypo-var-behance: '\f34e';
$entypo-var-google-circles: '\f351';
$entypo-var-vkontakte: '\f354';
$entypo-var-smashing: '\f357';
$entypo-var-sweden: '\f601';
$entypo-var-db-shape: '\f600';
$entypo-var-logo-db: '\f603';