@font-face {
  font-family: 'EntypoUni'; 
  src: url('entypo.eot'); 
  src: url('entypo.eot?#iefix') format('embedded-opentype'), url('entypo.ttf') format('truetype'), url('entypo.svg#entypo') format('svg'); 
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: EntypoUni;
  font-style: normal;
/*  font-size: 14px; */
  
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-user-add:before { content: "\e001"; }
.icon-address:before { content: "\e002"; }
.icon-list-add:before { content: "\e003"; }
.icon-bell:before { content: "\f514"; }
.icon-attach:before { content: "\e004"; }
.icon-back:before { content: "\e005"; }
.icon-block:before { content: "\f6ab"; }
.icon-wifi:before { content: "\e006"; }
.icon-calendar:before { content: "\f4c5"; }
.icon-camera:before { content: "\f4f7"; }
.icon-target:before { content: "\f3af"; }
.icon-chat:before { content: "\e007"; }
.icon-close:before { content: "\2715"; }
.icon-check:before { content: "\2713"; }
.icon-cancel:before { content: "\2716"; }
.icon-comment:before { content: "\e008"; }
.icon-compass:before { content: "\e009"; }
.icon-vcard:before { content: "\e00a"; }
.icon-user:before { content: "\f464"; }
.icon-users:before { content: "\f465"; }
.icon-direction:before { content: "\e00b"; }
.icon-mail:before { content: "\2709"; }
.icon-export:before { content: "\e00c"; }
.icon-flag:before { content: "\2691"; }
.icon-flash:before { content: "\26a1"; }
.icon-flight:before { content: "\2708"; }
.icon-forward:before { content: "\27a6"; }
.icon-google-circles:before { content: "\e00d"; }
.icon-heart:before { content: "\2665"; }
.icon-heart-empty:before { content: "\2661"; }
.icon-help:before { content: "\2753"; }
.icon-help-circle:before { content: "\e00e"; }
.icon-image-list:before { content: "\268f"; }
.icon-info:before { content: "\2139"; }
.icon-info-circle:before { content: "\e00f"; }
.icon-leaf:before { content: "\f342"; }
.icon-level-down:before { content: "\21b3"; }
.icon-lifebuoy:before { content: "\e010"; }
.icon-thumbs-up:before { content: "\f4dd"; }
.icon-link:before { content: "\f517"; }
.icon-list:before { content: "\2630"; }
.icon-location:before { content: "\e011"; }
.icon-lock:before { content: "\f512"; }
.icon-map:before { content: "\e012"; }
.icon-mic:before { content: "\f3a4"; }
.icon-minus:before { content: "\2796"; }
.icon-minus-circle:before { content: "\e013"; }
.icon-mobile:before { content: "\f4f1"; }
.icon-mouse:before { content: "\e014"; }
.icon-film:before { content: "\f3ac"; }
.icon-music:before { content: "\f3b5"; }
.icon-tag:before { content: "\e015"; }
.icon-palette:before { content: "\f3a8"; }
.icon-phone:before { content: "\f4de"; }
.icon-plus:before { content: "\2795"; }
.icon-plus-circle:before { content: "\e016"; }
.icon-print:before { content: "\e017"; }
.icon-quote-right:before { content: "\275e"; }
.icon-reload-ccw:before { content: "\27f2"; }
.icon-reload-cw:before { content: "\27f3"; }
.icon-reply:before { content: "\e018"; }
.icon-reply-all:before { content: "\e019"; }
.icon-retweet:before { content: "\e01a"; }
.icon-rss:before { content: "\e01b"; }
.icon-search:before { content: "\f50d"; }
.icon-search-alt:before { content: "\f50e"; }
.icon-settings:before { content: "\2699"; }
.icon-share:before { content: "\e01c"; }
.icon-shopping-cart:before { content: "\e000"; }
.icon-shuffle:before { content: "\f500"; }
.icon-moon:before { content: "\263d"; }
.icon-star:before { content: "\2605"; }
.icon-star-empty:before { content: "\2606"; }
.icon-clock:before { content: "\f554"; }
.icon-hourglass:before { content: "\23f3"; }
.icon-top-list:before { content: "\f3c9"; }
.icon-lock-open:before { content: "\f513"; }
.icon-eye:before { content: "\e01d"; }
.icon-warning:before { content: "\26a0"; }
.icon-pencil:before { content: "\2703"; }
.icon-archive:before { content: "\e01e"; }
.icon-arrow-down-circle2:before { content: "\e020"; }
.icon-arrow-left-circle2:before { content: "\e021"; }
.icon-arrow-right-circle2:before { content: "\e022"; }
.icon-arrow-up-circle2:before { content: "\e023"; }
.icon-arrow-down-open:before { content: "\e024"; }
.icon-arrow-left-open:before { content: "\e025"; }
.icon-arrow-right-open:before { content: "\e026"; }
.icon-arrow-up-open:before { content: "\e027"; }
.icon-arrow-down-thin:before { content: "\2b07"; }
.icon-arrow-left-thin:before { content: "\2b05"; }
.icon-arrow-right-thin:before { content: "\27a1"; }
.icon-arrow-up-thin:before { content: "\2b06"; }
.icon-arrow-down-dir:before { content: "\25be"; }
.icon-arrow-left-dir:before { content: "\25c2"; }
.icon-arrow-right-dir:before { content: "\25b8"; }
.icon-arrow-up-dir:before { content: "\25b4"; }
.icon-arrow-down-bold:before { content: "\e4b0"; }
.icon-arrow-left-bold:before { content: "\e4ad"; }
.icon-arrow-right-bold:before { content: "\e4ae"; }
.icon-arrow-up-bold:before { content: "\e4af"; }
.icon-arrow-down:before { content: "\2193"; }
.icon-arrow-left:before { content: "\2190"; }
.icon-arrow-right:before { content: "\2192"; }
.icon-arrow-up:before { content: "\2191"; }
.icon-progress-0:before { content: "\e030"; }
.icon-progress-1:before { content: "\e031"; }
.icon-progress-2:before { content: "\e032"; }
.icon-progress-3:before { content: "\e033"; }
.icon-play:before { content: "\25b6"; }
.icon-stop:before { content: "\25aa"; }
.icon-pause:before { content: "\2389"; }
.icon-record:before { content: "\26ab"; }
.icon-right-end:before { content: "\23ed"; }
.icon-left-start:before { content: "\23ee"; }
.icon-right-ff:before { content: "\23e9"; }
.icon-left-fb:before { content: "\23ea"; }
.icon-book-open:before { content: "\f4d6"; }
.icon-bookmark:before { content: "\f516"; }
.icon-battery:before { content: "\f50b"; }
.icon-back-in-time:before { content: "\e040"; }
.icon-home:before { content: "\2302"; }
.icon-dot:before { content: "\e050"; }
.icon-dot-2:before { content: "\e051"; }
.icon-dot-3:before { content: "\e052"; }
.icon-lamp:before { content: "\f4a1"; }
.icon-light-down:before { content: "\f505"; }
.icon-light-up:before { content: "\f506"; }
.icon-trash:before { content: "\e0da"; }
.icon-doc:before { content: "\e048"; }
.icon-docs:before { content: "\e049"; }
.icon-docs-landscape:before { content: "\e04a"; }
.icon-doc-text:before { content: "\f4c4"; }
.icon-volume-off:before { content: "\f507"; }
.icon-volume-up:before { content: "\f50a"; }
.icon-volume:before { content: "\e057"; }
.icon-cloud:before { content: "\2601"; }
.icon-keyboard:before { content: "\2328"; }
.icon-folder:before { content: "\f4c1"; }
.icon-download:before { content: "\e042"; }
.icon-upload:before { content: "\e043"; }
.icon-upload-cloud:before { content: "\e045"; }
.icon-code:before { content: "\e05f"; }
.icon-popup:before { content: "\e060"; }
.icon-publish:before { content: "\e061"; }
.icon-feather:before { content: "\e062"; }
.icon-resize-full:before { content: "\e063"; }
.icon-resize-small:before { content: "\e064"; }
.icon-globe:before { content: "\e065"; }
.icon-video:before { content: "\f3ac"; }
.icon-cd:before { content: "\f4bf"; }
.icon-monitor:before { content: "\f4bb"; }
.icon-image:before { content: "\f304"; }
.icon-arrow-combo:before { content: "\e058"; }
.icon-window:before { content: "\e059"; }
.icon-song:before { content: "\e05a"; }
.icon-inbox:before { content: "\e05b"; }
.icon-install:before { content: "\e05c"; }
.icon-bag:before { content: "\e05d"; }
.icon-net:before { content: "\e05e"; }
.icon-cc:before { content: "\e183"; }
.icon-logo-entypo:before { content: "\e180"; }
.icon-flag-sw:before { content: "\e181"; }
.icon-logo-db:before { content: "\e182"; }

