@charset "UTF-8";

@font-face {
  font-family: 'EntypoUni'; 
  src: url('entypo.eot'); 
  src: url('entypo.eot?#iefix') format('embedded-opentype'), url('entypo.ttf') format('truetype'), url('entypo.svg#entypo') format('svg'); 
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: EntypoUni;
  font-style: normal;
/*  font-size: 14px; */
  
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-user-add:before { content: ""; }
.icon-address:before { content: ""; }
.icon-list-add:before { content: ""; }
.icon-bell:before { content: "🔔"; }
.icon-attach:before { content: ""; }
.icon-back:before { content: ""; }
.icon-block:before { content: "🚫"; }
.icon-wifi:before { content: ""; }
.icon-calendar:before { content: "📅"; }
.icon-camera:before { content: ""; }
.icon-target:before { content: ""; }
.icon-chat:before { content: ""; }
.icon-close:before { content: "✕"; }
.icon-check:before { content: "✓"; }
.icon-cancel:before { content: "✖"; }
.icon-comment:before { content: ""; }
.icon-compass:before { content: ""; }
.icon-vcard:before { content: ""; }
.icon-user:before { content: ""; }
.icon-users:before { content: ""; }
.icon-direction:before { content: ""; }
.icon-mail:before { content: "✉"; }
.icon-export:before { content: ""; }
.icon-flag:before { content: "⚑"; }
.icon-flash:before { content: "⚡"; }
.icon-flight:before { content: "✈"; }
.icon-forward:before { content: "➦"; }
.icon-google-circles:before { content: ""; }
.icon-heart:before { content: "♥"; }
.icon-heart-empty:before { content: "♡"; }
.icon-help:before { content: "❓"; }
.icon-help-circle:before { content: ""; }
.icon-image-list:before { content: "⚏"; }
.icon-info:before { content: "ℹ"; }
.icon-info-circle:before { content: ""; }
.icon-leaf:before { content: ""; }
.icon-level-down:before { content: "↳"; }
.icon-lifebuoy:before { content: ""; }
.icon-thumbs-up:before { content: ""; }
.icon-link:before { content: ""; }
.icon-list:before { content: "☰"; }
.icon-location:before { content: ""; }
.icon-lock:before { content: ""; }
.icon-map:before { content: ""; }
.icon-mic:before { content: ""; }
.icon-minus:before { content: "➖"; }
.icon-minus-circle:before { content: ""; }
.icon-mobile:before { content: ""; }
.icon-mouse:before { content: ""; }
.icon-film:before { content: ""; }
.icon-music:before { content: ""; }
.icon-tag:before { content: ""; }
.icon-palette:before { content: ""; }
.icon-phone:before { content: ""; }
.icon-plus:before { content: "➕"; }
.icon-plus-circle:before { content: ""; }
.icon-print:before { content: ""; }
.icon-quote-right:before { content: "❞"; }
.icon-reload-ccw:before { content: "⟲"; }
.icon-reload-cw:before { content: "⟳"; }
.icon-reply:before { content: ""; }
.icon-reply-all:before { content: ""; }
.icon-retweet:before { content: ""; }
.icon-rss:before { content: ""; }
.icon-search:before { content: ""; }
.icon-search-alt:before { content: ""; }
.icon-settings:before { content: "⚙"; }
.icon-share:before { content: ""; }
.icon-shopping-cart:before { content: ""; }
.icon-shuffle:before { content: ""; }
.icon-moon:before { content: "☽"; }
.icon-star:before { content: "★"; }
.icon-star-empty:before { content: "☆"; }
.icon-clock:before { content: ""; }
.icon-hourglass:before { content: "⏳"; }
.icon-top-list:before { content: ""; }
.icon-lock-open:before { content: ""; }
.icon-eye:before { content: ""; }
.icon-warning:before { content: "⚠"; }
.icon-pencil:before { content: "✃"; }
.icon-archive:before { content: ""; }
.icon-arrow-down-circle2:before { content: ""; }
.icon-arrow-left-circle2:before { content: ""; }
.icon-arrow-right-circle2:before { content: ""; }
.icon-arrow-up-circle2:before { content: ""; }
.icon-arrow-down-open:before { content: ""; }
.icon-arrow-left-open:before { content: ""; }
.icon-arrow-right-open:before { content: ""; }
.icon-arrow-up-open:before { content: ""; }
.icon-arrow-down-thin:before { content: "⬇"; }
.icon-arrow-left-thin:before { content: "⬅"; }
.icon-arrow-right-thin:before { content: "➡"; }
.icon-arrow-up-thin:before { content: "⬆"; }
.icon-arrow-down-dir:before { content: "▾"; }
.icon-arrow-left-dir:before { content: "◂"; }
.icon-arrow-right-dir:before { content: "▸"; }
.icon-arrow-up-dir:before { content: "▴"; }
.icon-arrow-down-bold:before { content: ""; }
.icon-arrow-left-bold:before { content: ""; }
.icon-arrow-right-bold:before { content: ""; }
.icon-arrow-up-bold:before { content: ""; }
.icon-arrow-down:before { content: "↓"; }
.icon-arrow-left:before { content: "←"; }
.icon-arrow-right:before { content: "→"; }
.icon-arrow-up:before { content: "↑"; }
.icon-progress-0:before { content: ""; }
.icon-progress-1:before { content: ""; }
.icon-progress-2:before { content: ""; }
.icon-progress-3:before { content: ""; }
.icon-play:before { content: "▶"; }
.icon-stop:before { content: "▪"; }
.icon-pause:before { content: "⎉"; }
.icon-record:before { content: "⚫"; }
.icon-right-end:before { content: "⏭"; }
.icon-left-start:before { content: "⏮"; }
.icon-right-ff:before { content: "⏩"; }
.icon-left-fb:before { content: "⏪"; }
.icon-book-open:before { content: ""; }
.icon-bookmark:before { content: ""; }
.icon-battery:before { content: ""; }
.icon-back-in-time:before { content: ""; }
.icon-home:before { content: "⌂"; }
.icon-dot:before { content: ""; }
.icon-dot-2:before { content: ""; }
.icon-dot-3:before { content: ""; }
.icon-lamp:before { content: ""; }
.icon-light-down:before { content: ""; }
.icon-light-up:before { content: ""; }
.icon-trash:before { content: ""; }
.icon-doc:before { content: ""; }
.icon-docs:before { content: ""; }
.icon-docs-landscape:before { content: ""; }
.icon-doc-text:before { content: ""; }
.icon-volume-off:before { content: ""; }
.icon-volume-up:before { content: ""; }
.icon-volume:before { content: ""; }
.icon-cloud:before { content: "☁"; }
.icon-keyboard:before { content: "⌨"; }
.icon-folder:before { content: ""; }
.icon-download:before { content: ""; }
.icon-upload:before { content: ""; }
.icon-upload-cloud:before { content: ""; }
.icon-code:before { content: ""; }
.icon-popup:before { content: ""; }
.icon-publish:before { content: ""; }
.icon-feather:before { content: ""; }
.icon-resize-full:before { content: ""; }
.icon-resize-small:before { content: ""; }
.icon-globe:before { content: ""; }
.icon-video:before { content: ""; }
.icon-cd:before { content: ""; }
.icon-monitor:before { content: ""; }
.icon-image:before { content: ""; }
.icon-arrow-combo:before { content: ""; }
.icon-window:before { content: ""; }
.icon-song:before { content: ""; }
.icon-inbox:before { content: ""; }
.icon-install:before { content: ""; }
.icon-bag:before { content: ""; }
.icon-net:before { content: ""; }
.icon-cc:before { content: ""; }
.icon-logo-entypo:before { content: ""; }
.icon-flag-sw:before { content: ""; }
.icon-logo-db:before { content: ""; }

