@font-face {
  font-family: 'EntypoUni'; 
  src: url('entypo.eot'); 
  src: url('entypo.eot?#iefix') format('embedded-opentype'), url('entypo.ttf') format('truetype'), url('entypo.svg#entypo') format('svg'); 
  font-weight: normal; font-style: normal;
}

{{#glyphs}}
.icon-{{css}}:before { content: "{{code}}"; }
{{/glyphs}}
