<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="demo/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="demo/demo.css">
  <link rel="stylesheet" href="entypo.css">
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Entypo font icons demo</h1>
    </div>
    <div class="row">
      {{#columns}}
      <div class="span3">
        <ul class="the-icons">
          {{#glyphs}}
            <li class="{{css-prefix}}{{css}}">{{css-prefix}}{{css}}</li>
          {{/glyphs}}
        </ul>
      </div>
      {{/columns}}
    </div>
  </div>
</body>
